# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js production builds
.next/
out/

# NestJS production builds
dist/

# Env config secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Flutter specific ignores
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/.last_build_id
*.xcworkspace
